@model DigitalResourcesLibrary.Models.AdvancedSearchViewModel
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="posts">
    @using (Html.BeginForm())
    {
        <div class="navbar">
            <div class="navbar-inner">
                <form class="navbar-search pull-left">
                    @Html.TextBoxFor(model => model.TextSearch, null, new
                    {
                        @class = "search-query",
                        placeholder = @ViewRes.Resource.Search_AdvancedSearch_AutoComplete,
                        id = "autocompleteRepository"
                    })
                </form>
                @Html.TextBoxFor(item => item.FormatDocSelect, null, new { @class = "documentsSelect" })
                @Html.TextBoxFor(item => item.TagSelect, null, new { @class = "tagSelect" })
                <button class="btn" type="submit">@ViewRes.Resource.Shared_Menu_Search</button>
            </div>
        </div>
       
    }

    <select id="tags" class="multiselect" multiple="multiple">
        <option value="multiselect-all">Select all</option>
        @foreach (var tag in Model.Tags)
        {
            <option value="@tag.Name">@tag.Name</option>
        }
    </select>

    <select id="format" class="multiselect" multiple="multiple">
        @foreach (var doc in Model.FormatDocuments)
        {
            <option value="@doc">@doc</option>
        }
    </select>
    <br>
    <div class="chosentree"></div>

</div>
@Html.Partial("Template/LeftPanel", Model)
<div style="clear: both;"></div>

<script type="text/javascript">
    $(document).ready(function() {
        $('form').submit(function() {
            var category = getCheckCategory();
            $.ajax({
                url: '@Url.Action("AdvancedSearchResult")',
                async: false,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    textSearch: $('.autocompleteRepository').val(),
                    tagSelect: $('.tagSelect').val(),
                    formatDocSelect: $('.documentsSelect').val(),
                    categorySelect: category,
                    page: 1
                }),
                error: function(result) {
                    alert("Failed");
                }
            });
        });
        return false;
    });

    function getCheckCategory() {
        var categorySelectString = "";
        $('.treenode input:checkbox:checked').each(function () {
            categorySelectString += $(this).val() + ';';
        });
        return categorySelectString.substring(0, categorySelectString.length - 1);
    }
</script>
