@model DigitalResourcesLibrary.Models.SearchViewModel
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts">
    @using (Html.BeginForm())
    {
        <div class="navbar">
            <div class="navbar-inner">
                <form class="navbar-search pull-left">
                    @Html.TextBoxFor(model => model.SearchModel.SearchText, null, new
                    {
                        @class = "search-query", placeholder = "Search", id = "autocompleteRepository"
                    })
                </form>
                <button class="btn" type="submit">@ViewRes.Resource.Shared_Menu_Search</button>
            </div>
        </div>
    }
    
    @if (Model.Documents != null && Model.Documents.Count != 0)
    {
        foreach (var item in Model.Documents)
        {
            @Html.Partial("SearchTemplate/DocumentTemplate", item)
        }
        @Html.Partial("SearchTemplate/PaginationTemplate", Model)
    }
    else
    {
        @ViewRes.Resource.Search_Documents_Not_Fount
    }

</div>
@Html.Partial("Template/LeftPanel", Model.Categories)
<div style="clear: both;"></div>
