@model DigitalResourcesLibrary.Models.SearchViewModel
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts">
    @using (Html.BeginForm())
    {
        <div class="navbar">
            <div class="navbar-inner">
                <form class="navbar-search pull-left">
                    @Html.TextBoxFor(model => model.SearchModel.SearchText, null, new
                    {
                        @class = "search-query", placeholder = "Search", id = "autocompleteRepository"
                    })
                </form>
                <button class="btn" type="submit">@ViewRes.Resource.Shared_Menu_Search</button>
            </div>
        </div>
    }
    
    @if (Model.Documents != null)
    {
        foreach (var article in Model.Documents)
         {
             <div class="post">
                 <h2 class="title">@Html.ActionLink(article.Title, "Post", new {id = article.Id})</h2>
                 <div class="story">
                     <p>@article.Description</p>
                 </div>
                 <div class="meta">
                     <p class="date">Posted on @article.ModifiedDate by @article.User.Name</p>
                     @*<p class="file">Filed under <a href="#">Uncategorized</a> | <a href="#">Edit</a> | <a href="#">28 Comments</a></p>*@
                 </div>
             </div>
         }
    }
</div>
@Html.Partial("Template/CategoriesPartialView")
<div style="clear: both;"></div>
