@model List<DigitalResourcesLibrary.DataContext.Model.Article.ArticleModel>
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts">
    @foreach (var article in Model)
    {
        <div class="post">
            <h2 class="title">@Html.ActionLink(article.Title, "Post", new {id = article.Id})</h2>
            <div class="story">
                <p>@article.Description</p>
            </div>
            <div class="meta">
                <p class="date">Posted on @article.ModifiedDate by @article.User.Name</p>
                @*<p class="file">Filed under <a href="#">Uncategorized</a> | <a href="#">Edit</a> | <a href="#">28 Comments</a></p>*@
            </div>
        </div>
    }
</div>
@Html.Partial("Template/CategoriesPartialView")
<div style="clear: both;"> </div>
