<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_Menu")
        <div id="header">
            <h1><br>@ViewRes.Resource.Site_Name</h1>
            <h2></h2>
        </div>
        <div id="content">
            @Html.Partial("_CultureChooserUserControl")
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <p id="legal">@ViewRes.Resource.Shared_Layout_Site_Copyright </p>
        <p id="brand">@ViewRes.Resource.Site_Name</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
