<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    <link href="http://vjs.zencdn.net/4.5/video-js.css" rel="stylesheet"/>
    <script src="http://vjs.zencdn.net/4.5/video.js"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_Menu")
        <div id="header">
            <div class="header-site">@ViewRes.Resource.Site_Name_Header</div>
            <div class="body-site">@Html.Raw("&laquo;")@ViewRes.Resource.Site_Name_Body@Html.Raw("&raquo;")</div>
        </div>AllTypes
        <div id="content">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <p id="legal">@Html.Raw(ViewRes.Resource.Shared_Layout_Site_Copyright) @DateTime.Now.Year @ViewRes.Resource.Site_Name_Header</p>
        <p id="brand">@ViewRes.Resource.Site_Name</p>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/audioplayer")
    @Scripts.Render("~/bundles/treeselect")
    @Scripts.Render("~/bundles/resource")
    @Scripts.Render("~/bundles/loadpage")

    <script type="text/javascript">
        LoadPage();
    </script>
</body>
</html>
