@using System.Globalization
@using System.Text.RegularExpressions
@using DigitalResourcesLibrary.DataContext.Enums
@using DigitalResourcesLibrary.DataContext.Helper
@model DigitalResourcesLibrary.DataContext.Model.Documents.DocumentModel

@{
    var logoputh = "/Content/themes/images/Document/";
    switch (Model.Type)
    {
        case FileType.Document:
            logoputh += "Document.png";
            break;
        case FileType.Audio:
            logoputh += "Audio.png";
            break;
        case FileType.Image:
            logoputh += "Image.png";
            break;
        case FileType.Video:
            logoputh += "Video.png";
            break;
        default:
            logoputh += "Default.png";
            break;
    }
}

@helper Truncate(string input, int length)
{
    string inputstring = Regex.Replace(input, @"<[^>]*>", String.Empty);

    if (inputstring.Length <= length)
    {
        @inputstring
    } else {
        @inputstring.Substring(0, length)<text>...</text>
    }
}

<div class="post">
    <h2 class="title">
        @if (Model.TypeDocument == TypeDocument.Article)
        {
            @Html.ActionLink(Model.Title, "Article", "Documents", new { id = Model.Id }, null)
        }
        else
        {
            @Html.ActionLink(Model.Title, "Store", "Documents", new { id = Model.Id }, null)
        }
    </h2>
    <div class="story">
        <div class="logo">
            <img class="logo-img" src="@logoputh" alt="@Model.Title">
        </div>
        <p>@Truncate(Model.Description, 230)</p>
    </div>
    <div class="meta">
        <p class="date">@ViewRes.Resource.Search_PostedDate @Model.ModifiedDate.ToString("d MMMM yyy 'at' H:mm",new CultureInfo(LocalizationHelper.GetLocalizationLanguage().ToString()))</p>
     </div>
</div>
