@using DigitalResourcesLibrary.DataContext.Enums
@model DigitalResourcesLibrary.Models.AdvancedSearchViewModel

@{
    var countLeftAndRight = 3;

    var start = 1;
    var countPages = Model.CountPages;
    var finish = Model.CountPages;
    if (countPages > countLeftAndRight * 2 + 1)
    {
        start = Model.VisitedPage - countLeftAndRight;
        if (start < 1)
        {
            start = 1;
        }

        finish = start + countLeftAndRight * 2;
        if (finish > countPages)
        {
            finish = countPages;
            start = finish - countLeftAndRight * 2;
        }
    }
    
}
<div class="pagination">
    <ul>
        @if (Model.VisitedPage == 1)
        {
            <li class="disabled"><a><</a></li>
        }
        else
        {
            <li>@Html.ActionLink("<", "AdvancedSearchResult", new
                {
                    textSearch = Model.TextSearch,
                    tagSelect = Model.TagSelect,
                    formatDocSelect = Model.FormatDocSelect,
                    page = 1
                }, null)</li>
        }

        <li>@Html.ActionLink("1", "AdvancedSearchResult", new
                    {
                        textSearch = Model.TextSearch,
                        tagSelect = Model.TagSelect,
                        formatDocSelect = Model.FormatDocSelect,
                        page = 1
                    },
                    null)
        </li>

        @if (Model.VisitedPage - countLeftAndRight > 2)
        {
            <li>@Html.ActionLink("...", "AdvancedSearchResult", new
                    {
                        textSearch = Model.TextSearch,
                        tagSelect = Model.TagSelect,
                        formatDocSelect = Model.FormatDocSelect,
                        page = start - 1
                    },
                    null)
            </li>
        }

        @for (int i = start; i <= finish; i++)
        {
            if (i == Model.VisitedPage)
            {
            <li class='active'><a href="#">@i.ToString()</a></li>
            }
            else
            { 
            <li>@Html.ActionLink(i.ToString(), "AdvancedSearchResult", new
                    {
                        textSearch = Model.TextSearch,
                        tagSelect = Model.TagSelect,
                        formatDocSelect = Model.FormatDocSelect,
                        page = i
                    },
                    null)
            </li>
            }
        }

        @if (Model.VisitedPage + countLeftAndRight < countPages - 1)
        {
            <li>@Html.ActionLink("...", "AdvancedSearchResult", new
                    {
                        textSearch = Model.TextSearch,
                        tagSelect = Model.TagSelect,
                        formatDocSelect = Model.FormatDocSelect,
                        page = finish + 1
                    },
                    null)
            </li>
        }

        @if (finish < countPages)
        {
            <li>@Html.ActionLink(countPages.ToString(), "AdvancedSearchResult", new
                    {
                        textSearch = Model.TextSearch,
                        tagSelect = Model.TagSelect,
                        formatDocSelect = Model.FormatDocSelect,
                        page = countPages
                    },
                    null)
            </li>
        }

        @if (Model.VisitedPage == Model.CountPages)
        {
            <li class="disabled"><a>></a></li>
        }
        else
        {
            <li>@Html.ActionLink(">", "AdvancedSearchResult", new
                    {
                        textSearch = Model.TextSearch,
                        tagSelect = Model.TagSelect,
                        formatDocSelect = Model.FormatDocSelect,
                        page = Model.CountPages
                    },
                    null)
            </li>
        }
    </ul>
</div>
