@using DigitalResourcesLibrary.DataContext.Enums
@model DigitalResourcesLibrary.Models.ArticleViewModel
@{
    ViewBag.Title = ViewRes.Resource.Documents_Type + " - " + ViewRes.Resource.Site_Name_Header;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts" class="documents">
    @Html.Partial("Message/Warning", Model)
    @if (Model.ValidModel)
    {
        <h2 class="title">@Model.Title</h2>
        <div class="story">
            @Html.Raw(Model.Content)
        </div>
    }
    <a href="javascript:void(0);" id="add-document" class="btn btn-primary" type="button" onclick="AddDocument(@Model.Id, '@TypeDocument.Article.ToString()')">@ViewRes.Resource.Add_Cookie_Document</a>
    <a href="javascript:void(0);" id="remove-document" class="btn btn-primary" type="button" onclick="RemoveDocument(@Model.Id, '@TypeDocument.Article.ToString()')">@ViewRes.Resource.Delete_Cookie_Document</a>
</div>
@Html.Partial("Template/LeftPanel", Model)
<div style="clear: both;"></div>
