@model DigitalResourcesLibrary.Models.ArticleViewModel
@{
    ViewBag.Title = @Model.Title + " " + ViewRes.Resource.Documents_Type + " - " + ViewRes.Resource.Site_Name_Header;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts" class="documents">
    @Html.Partial("Message/Warning", Model)
    @if (Model.ValidModel)
    {
        <h2 class="title">@Model.Title</h2>
        <div class="story">
            @Html.Raw(Model.Content)
        </div>
    }
    @Html.Partial("Message/BookmarksModalWindow")
</div>
@Html.Partial("Template/LeftPanel", Model)
<div style="clear: both;"></div>
