@using DigitalResourcesLibrary.DataContext.Enums
@model DigitalResourcesLibrary.Models.StoreViewModel
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts" class="documents">
    <h2 class="title">@Model.Title</h2>
    <div class="story">
        @Model.Description
        <br>
        <div class="media-content">
            @if (Model.Type == FileType.Video)
            {
                @Html.Partial("OpenFile/VideoFile", Model)
            }
            
            @if (Model.Type == FileType.Audio)
            {
                @Html.Partial("OpenFile/AudioFile", Model)
            }
            
            @if (Model.Type == FileType.Document)
            {
                @Html.Partial("OpenFile/DocumentFile", Model)
            }
        </div>
    </div>
</div>
@Html.Partial("Template/LeftPanel", Model)
<div style="clear: both;"></div>
