@using DigitalResourcesLibrary.DataContext.Enums
@model DigitalResourcesLibrary.Models.StoreViewModel
@{
    ViewBag.Title = ViewRes.Resource.Documents_Type + " - " + ViewRes.Resource.Site_Name_Header;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts" class="documents">
    @Html.Partial("Message/Warning", Model)
    @if(Model.ValidModel)
    {
        <h2 class="title">@Model.Title</h2>
        <div class="story">
            @Model.Description
            <br>
            <div class="media-content">
                @if (Model.Type == FileType.Video)
                {
                    @Html.Partial("OpenFile/VideoFile", Model)
                }
                else if (Model.Type == FileType.Audio)
                {
                    @Html.Partial("OpenFile/AudioFile", Model)
                }
                else if (Model.Type == FileType.Document)
                {
                    @Html.Partial("OpenFile/DocumentFile", Model)
                }
                else if (Model.Type == FileType.Image)
                {
                    @Html.Partial("OpenFile/ImageFile", Model)
                }
            </div>
            <a href="javascript:void(0);" id="add-document" class="btn btn-primary" type="button" onclick="AddDocument(@Model.Id, '@TypeDocument.Store.ToString()')">@ViewRes.Resource.Add_Cookie_Document</a>
            <a href="javascript:void(0);" id="remove-document" class="btn btn-primary" type="button" onclick="RemoveDocument(@Model.Id, '@TypeDocument.Store.ToString()')">@ViewRes.Resource.Delete_Cookie_Document</a>
            <div class="button-downloads">
                @Html.ActionLink(ViewRes.Resource.Site_Button_Download, 
                "Download", "Files", 
                new { id = Model.Id, filename = Model.FileName }, 
                new { @class = "btn btn-primary", type = "button", dataloadingtext = "Loading..." })
            </div>
        </div>
    }
</div>
@Html.Partial("Template/LeftPanel", Model)
<div style="clear: both;"></div>

