@model DigitalResourcesLibrary.Models.BaseSearchModel
@using System.Globalization
@using DigitalResourcesLibrary.DataContext.Helper
@{
    const int countMounth = 5;
    var dateNow = DateTime.Now;
    var date = new List<DateTime>();
    for (int i = 0; i < countMounth; i++)
    {
        date.Add(dateNow.AddMonths(-i));
    }
}
<div id="links">
    <div class="block">
        <h2>@ViewRes.Resource.Shared_Template_Archives_Title</h2>
        <ul class="categories">
            @for (int i = 0; i < countMounth; i++)
            {
                <li>
                    @Html.ActionLink(date[i].ToString("MMMM yyyy", new CultureInfo(LocalizationHelper.GetLocalizationLanguage().ToString())),
                             "SearchByDate", "Search", new { searchValue = date[i], page = 1}, null)
                </li>
            }
            <li>
                @Html.ActionLink(ViewRes.Resource.LeftPanel_All_Archive, "Index", "Search")
            </li>
        </ul>
    </div>
    <div class="block">
        <h2>@ViewRes.Resource.Shared_Template_Categories_Title</h2>
        <ul class="ul-treefree ul-dropfree">
            @Html.Partial("Template/CategoryRecursion", Model.Categories)
        </ul>
    </div>
    <div class="block">
        <h2>@ViewRes.Resource.Shared_Template_Tags_Title</h2>
        <div class="tags">
            @foreach (var item in Model.Tags)
            {
                @Html.ActionLink(item.Name, "SearchByTag", "Search", new {searchValue = item.Id, page = 1 }, new {@class = "label label-info"}) 
                @Html.Raw("&nbsp;")
            }
        </div>
    </div>
</div>
