@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
        <div class="active item">
            <img src="~/Content/themes/images/bootstrap-mdo-sfmoma-01.jpg" alt="" />
            <div class="carousel-caption">
                <h4>@ViewRes.Resource.Home_Index_FirstSlide_Title</h4>
                <p>@ViewRes.Resource.Home_Index_FirstSlide_Body</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/themes/images/bootstrap-mdo-sfmoma-02.jpg" alt="" />
            <div class="carousel-caption">
                <h4>@ViewRes.Resource.Home_Index_SecondSlide_Title</h4>
                <p>@ViewRes.Resource.Home_Index_SecondSlide_Body</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/themes/images/bootstrap-mdo-sfmoma-03.jpg" alt="" />
            <div class="carousel-caption">
                <h4>@ViewRes.Resource.Home_Index_SecondSlide_Title</h4>
                <p>@ViewRes.Resource.Home_Index_SecondSlide_Body</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/themes/images/bootstrap-mdo-sfmoma-04.jpg" alt="" />
            <div class="carousel-caption">
                <h4>@ViewRes.Resource.Home_Index_SecondSlide_Title</h4>
                <p>@ViewRes.Resource.Home_Index_SecondSlide_Body</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/themes/images/bootstrap-mdo-sfmoma-05.jpg" alt="" />
            <div class="carousel-caption">
                <h4>@ViewRes.Resource.Home_Index_ThirdSlide_Title</h4>
                <p>@ViewRes.Resource.Home_Index_ThirdSlide_Body</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/themes/images/bootstrap-mdo-sfmoma-06.jpg" alt="" />
            <div class="carousel-caption">
                <h4>@ViewRes.Resource.Home_Index_ThirdSlide_Title</h4>
                <p>@ViewRes.Resource.Home_Index_ThirdSlide_Body</p>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<br>